body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.d-bloc .panel,
.l-bloc {
    color: rgba(0,0,0,.5);
}

.d-bloc .panel button:hover,
.l-bloc button:hover {
    color: rgba(0,0,0,.7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: rgba(0,0,0,.7);
}

.d-bloc .panel .divider-h span,
.l-bloc .divider-h span {
    border-color: rgba(0,0,0,.1);
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: rgba(0,0,0,.6);
}

.d-bloc .panel .a-btn:hover,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-sm,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-xl,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
    color: rgba(0,0,0,1);
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0,0,0,.6);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
    color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.3);
}

.voffset {
    margin-top: 30px;
}

.voffset-md {
    margin-top: 50px;
}

#about h1 {
    font-size: 45px;
    line-height: 55px;
}

#about h3 {
    font-size: 23px;
    line-height: 30px;
}

#about p {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

#education h3 {
    font-size: 23px;
    line-height: 30px;
}

#experience h3 {
    font-size: 23px;
    line-height: 30px;
}

#experience h3 {
    font-size: 20px;
}

#work h3 {
    font-size: 23px;
    line-height: 30px;
}

#work p {
    font-size: 16px;
    line-height: 23.999998092651367px;
}

#work-2 p {
    font-size: 16px;
    line-height: 23.999998092651367px;
}

#skills h3 {
    font-size: 23px;
    line-height: 30px;
}

#portfolio h3 {
    font-size: 23px;
    line-height: 30px;
}

#contact-me h3 {
    font-size: 23px;
    line-height: 30px;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
}

.nav > li a:hover,
.nav > li a:focus {
    background: transparent;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0,0,0,.5);
    width: 26px;
}

.nav-invert .navbar .nav {
    float: left;
}

.nav-invert .navbar-header,
.nav-invert .navbar-brand {
    float: right;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px){
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }

    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: #484848;
    }

    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }

    .nav-center {
        text-align: center;
    }

    .nav-center .navbar-header {
        width: 100%;
    }

    .nav-center .navbar-header,
    .nav-center .navbar-brand,
    .nav-center .nav > li {
        float: none;
        display: inline-block;
    }

    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0px;
        margin-top: 20px;
    }

    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 10px auto 0;
    }
}

.nav > li > .dropdown a {
    background: none!important;
    display: block;
    padding: 14px 15px;
}

nav .caret {
    margin: 0 5px;
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 4px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0!important;
    float: right;
}

.sticky-nav.sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    transition: all .2s ease-out;
}

.close-special-menu .close-icon {
    background: #fff;
}

.blocsapp-special-menu blocsnav {
    background: #000;
}

.mg-clear {
    margin: 0;
}

.mg-sm {
    margin-top: 10px;
    margin-bottom: 5px;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

img.mg-sm,
img.mg-md,
img.mg-lg {
    margin-top: 0;
}

img.mg-sm {
    margin-bottom: 10px;
}

img.mg-md {
    margin-bottom: 30px;
}

img.mg-lg {
    margin-bottom: 50px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0,0,0,.3);
}

button {
    outline: none!important;
}

.btn-sq {
    border-radius: 0px;
}

.icon-spacer {
    margin-right: 5px;
}

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.icon-xl {
    font-size: 100px!important;
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.divider-h {
    padding: 20px 0;
}

.divider-h span {
    display: block;
    border-top: 1px solid transparent;
}

.divider-half {
    width: 50%;
    margin: 0 auto;
}

.dropdown-menu .divider-h,
.dropdown-menu .divider-half {
    padding: 0;
}

.form-control {
    border-color: rgba(0,0,0,.1);
    box-shadow: none;
}

iframe {
    border: 0;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0,0,0,.6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0,0,0,.5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #FFF;
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255,255,255,.9);
    background: rgba(0,0,0,.5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.fullscreen-lb {
    background: #000;
    border-radius: 0;
}

.fullscreen-lb .modal-body {
    padding: 0;
}

.fullscreen-lb .lightbox-caption {
    left: 0;
    right: 0;
    bottom: -10px;
    text-align: center;
}

.fullscreen-modal {
    background: #000;
}

.fullscreen-modal .modal-dialog {
    width: 100%!important;
    max-width: 95%!important;
}

.close-full-screen-modal {
    position: fixed;
    display: block;
    width: 25px;
    height: 25px;
    top: 16px;
    right: 10px;
    z-index: 10000;
}

.close-full-screen-modal .close-icon {
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 12px;
}

.close-full-screen-modal .close-icon {
    height: 2px;
}

.close-full-screen-modal .close-icon:after {
    content: "";
    display: inherit;
    width: inherit;
    height: inherit;
    background: inherit;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.close-full-screen-modal {
    right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "Helvetica";
}

.container {
    max-width: 1170px;
}

.resume-work-year {
    font-family: "Lato";
    font-weight: 900;
    font-size: 80px;
    color: #424242!important;
}

.resume-work-year:hover {
    color: #FF2600!important;
}

h3 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
}

p {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.resume-exp {
    background-color: rgba(235,235,235,0.5);
    padding: 28px 28px 28px 28px;
}

.resume-exp:hover {
    background-color: rgba(235,235,235,0.7);
}

.resume-edu-year-right {
    font-family: "Lato";
    font-weight: 900;
    font-size: 50px;
    color: #424242!important;
}

.resume-edu-year-right:hover {
    color: #FF2600!important;
}

.resume-edu-box-left {
    border-style: solid;
    border-color: #A9A9A9;
    border-width: 0px 3px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume-edu-box-right {
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    margin-left: -18px;
    padding-top: 28px;
    padding-bottom: 10px;
    border-color: #A9A9A9;
}

.resume-edu-year-left {
    font-family: "Lato";
    font-weight: 900;
    font-size: 50px;
    color: #424242!important;
}

.resume-edu-year-left:hover {
    color: #FF2600!important;
}

.resume-extra-padding {
    padding-top: 68px;
}

.resume-bullet {
    color: #000000!important;
    font-size: 30px;
}

.resume-contact-panel {
    background-color: #FEFFFF;
    padding: 70px 28px 70px 28px;
    color: #000000!important;
    margin-right: 1px;
    margin-left: 1px;
    border-style: dotted;
    border-width: 1px 1px 1px 1px;
    border-color: #FF2600;
}

.resume-contact-panel:hover {
    background-color: #FEFFFF;
    color: #FF2600!important;
    border-style: solid;
}

.resume-edu-box-border-right {
    background-color: #FEFFFF;
    padding: 28px 28px 28px 28px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: rgba(255,38,0,0.5);
}

.resume-edu-box-border-right:hover {
    border-style: solid;
    border-color: #FF2600;
}

.resume-what-i-do-icon {
    margin-bottom: 20px;
    border-style: dotted;
    border-width: 1px 1px 1px 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 50px 50px 50px 50px;
    background-color: #FEFFFF;
    border-color: #FF2600;
    color: #919191!important;
    text-shadow: 0px 0px 0px #000000;
}

.resume-what-i-do-icon:hover {
    border-style: solid;
    color: #FF2600!important;
    border-width: 1px 1px 1px 1px;
    background-color: #FEFFFF;
}

.resume-form-box {
    padding: 28px 28px 28px 28px;
    background-color: #FEFFFF;
    border-style: dotted;
    border-width: 1px 1px 1px 1px;
    border-color: #FF2600;
}

.resume-form-box:hover {
    border-style: solid;
}

.resume-section-title {
    font-family: "Lato";
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 50px;
}

.resume-icon {
    color: #C0C0C0!important;
    margin-bottom: 28px;
}

.resume-icon:hover {
    color: #FF2600!important;
}

.resume-number {
    font-family: "Lato";
    font-weight: 900;
    text-transform: none;
    font-size: 50px;
    color: #FF2600!important;
}

.resume-what-i-done {
    margin-bottom: 15px;
}

.resume-portfolio {
    margin-top: -px;
    box-shadow: 0px 5px 28px rgba(0,0,0,0.2);
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(255,38,0,0.0);
}

.resume-portfolio:active {
}

.resume-portfolio:hover {
    margin-top: -3px;
    box-shadow: 0px 2px 28px rgba(0,0,0,0.3);
    border-color: #FF2600;
    border-style: solid;
}

.resume-form-field {
    border-radius: 0px 0px 0px ;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D5D5D5;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    color: #424242!important;
}

.resume-form-field:hover {
    border-color: #FF2600;
}

.resume-button {
    padding-right: 28px;
    padding-left: 28px;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FF2600;
    background-color: #FF2600;
}

.resume-button:hover {
    background-color: #FEFFFF;
    color: #FF2600!important;
}

.resume-form-lebel {
}

.resume-form-label {
    margin-bottom: 28px;
    padding-top: 10px;
}

.resume-skills {
    border-style: none;
    height: px;
    padding: 28px 28px 15px 28px;
    color: #424242!important;
}

.resume-center {
    text-align: center;
}

h1 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

h2 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
}

.resume-social-button {
    background-color: transparent;
    font-size: 28px;
    padding: 5px 5px 5px 5px;
}

.resume-social-button:hover {
    background-color: transparent;
}

.resume-social-icon {
    color: #424242!important;
}

.resume-social-icon:hover {
    color: #FF2600!important;
}

.resume-hero-button {
    width: 200px;
    background-color: #FEFFFF;
    color: #424242!important;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #EAEAEA;
    font-family: "Lato";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

.resume-hero-button:hover {
    border-color: #FF2600;
    background-color: #FEFFFF;
    font-family: "Lato";
    font-weight: 400;
    text-transform: uppercase;
    color: #FF2600!important;
}

.resume-hero-button-icon {
    color: #FF2600!important;
    margin-right: 10px;
}

.resume-navigation {
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #424242!important;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: rgba(255,38,0,0.0);
}

.resume-navigation:hover {
    color: #FF2600!important;
    border-color: #FF2600;
}

.resume-header {
    margin-bottom: -10px;
    max-height: 90px;
}

.sticky-nav.sticky {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
    max-height: 80px;
    margin-bottom: -10px;
}

.bgc-white {
    background-color: #ffffff;
}

.bgc-snow {
    background-color: #FBFBFB;
}

.tc-dark-jungle-green {
    color: #282828!important;
}

.tc-ferrari-red {
    color: #FF2600!important;
}

.icon-dark-jungle-green {
    color: #282828!important;
    border-color: #282828!important;
}

.icon-ferrari-red {
    color: #FF2600!important;
    border-color: #FF2600!important;
}

/* = Carousel
-------------------------------------------------------------- */
.carousel {
    display: inline-block;
    vertical-align: bottom;
}

.full-width-bloc .carousel {
    width: 100%;
}

.carousel .item img {
    margin-right: auto;
    margin-left: auto;
}

.carousel-control span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control {
    color: #FFF!important;
    text-shadow: none;
}

.carousel-indicators li {
    margin: 0 4px;
}

.carousel-indicators .active {
    margin: 0 4px -1px;
}

.carousel-control.left span {
    margin-left: -15px;
}

/*
    Carousel Cross Fade Transition
*/
.carousel-crossfade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-crossfade .carousel-inner .active {
    opacity: 1;
}

.carousel-crossfade .carousel-inner .active.left,
.carousel-crossfade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-crossfade .carousel-inner .next.left,
.carousel-crossfade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-crossfade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-crossfade .carousel-inner > .item.next,
    .carousel-crossfade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-crossfade .carousel-inner > .item.prev,
    .carousel-crossfade .carousel-inner > .item.active.left {
        z-index: 0;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-crossfade .carousel-inner > .item.next.left,
    .carousel-crossfade .carousel-inner > .item.prev.right,
    .carousel-crossfade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-caption-center {
    margin-top: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.hide-indicators {
    display: none;
}

@media (max-width: 1024px){
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }

    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) and (min-width: 768px){
    .navbar .nav {
        max-width: 80%;
    }

    .nav-center.navbar .nav {
        max-width: 100%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px){
    .container {
        width: 100%;
    }

    .b-parallax {
        background-attachment: scroll;
    }

    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }

    .bloc {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }

    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }

    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 20px;
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }
}

@media (max-width: 767px){
    .page-container {
        overflow-x: hidden;
        position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    .b-parallax {
        background-attachment: scroll;
    }

    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0,0,0,.2);
        float: none!important;
    }

    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }

    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }

    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: rgba(0,0,0,.05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }

    .nav > li:hover {
        background: rgba(0,0,0,.08);
    }

    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }

    #hero-bloc .navbar .nav {
        background: rgba(0,0,0,.8);
    }

    #hero-bloc .navbar .nav a {
        color: rgba(255,255,255,.6);
    }

    .hero {
        padding: 50px 0;
    }

    .hero-nav {
        left: -1px;
        right: -1px;
    }

    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }

    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }

    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }

    .bloc {
        padding-left: 0;
        padding-right: 0;
    }

    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }

    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }

    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }

    .a-block {
        padding: 0 10px;
    }

    .btn-dwn {
        display: none;
    }

    .voffset {
        margin-top: 5px;
    }

    .voffset-md {
        margin-top: 20px;
    }

    .voffset-lg {
        margin-top: 30px;
    }

    form {
        padding: 5px;
    }

    .close-lightbox {
        display: inline-block;
    }

    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }

    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
}

@media (max-width: 400px){
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 991px){
    .resume-edu-year-right {
        font-size: 30px;
        margin-left: 0px;
    }

    .resume-edu-year-left {
        font-size: 30px;
        margin-right: 0px;
    }

    .blocsapp-special-menu blocsnav {
        background-color: #FEFFFF;
    }

    .resume-section-title {
        font-size: 40px;
        line-height: 50px;
    }

    .resume-number {
        font-size: 40px;
    }

    .resume-work-year {
        font-size: 50px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-collapse.collapse.in {
        display: block!important;
    }

    .site-navigation {
        transform: none!important;
    }

    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }

    .nav-invert .navbar-toggle {
        float: left;
    }

    .nav-special {
        overflow-y: scroll;
    }

    .nav-special .site-navigation {
        top: 0;
        left: 0;
        width: 100%;
        position: relative!important;
        max-width: 100%!important;
        z-index: 1000;
    }

    .nav-special .nav > li {
        width: 100%;
        background: none!important;
        border: 0!important;
    }

    .nav-special.collapsing {
        -webkit-transition: none;
        transition: none;
        height: 100%!important;
        background: none!important;
    }

    .nav-special .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }

    .blocsapp-special-menu {
        position: absolute;
        z-index: 10000;
    }

    .nav-special.fullscreen-nav .caret,
    .nav-special.fullscreen-nav .dropdown-menu .dropdown .caret {
        border-width: 8px;
    }

    .navbar-toggle {
        transition: all .1s linear;
    }

    .selected-nav {
        opacity: 0;
        transform: scale(0.3);
        transition: all .1s linear;
    }

    .close-special-menu {
        position: fixed;
        display: block;
        width: 25px;
        height: 25px;
        top: 16px;
        right: 10px;
        z-index: 10000;
    }

    .nav-invert .sidebar-nav .close-special-menu {
        left: 260px;
    }

    .close-special-menu .close-icon {
        display: block;
        width: 100%;
        height: 1px;
        transform: rotate(45deg);
        margin-top: 12px;
    }

    .close-special-menu .close-icon:after {
        content: "";
        display: inherit;
        width: inherit;
        height: inherit;
        background: inherit;
        transform: rotate(90deg);
    }

    .lock-scroll {
        overflow: hidden;
        transition: background .3s linear;
    }

    .nav-special::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
    }

    .nav-special .dropdown-menu .dropdown .caret {
        border-top-color: rgba(255,255,255,.8);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        margin: 0 0 0 5px;
        float: none;
    }

    .blocsapp-special-menu .site-navigation.pull-right {
        float: none!important;
    }

    .sidebar-nav {
        position: fixed;
        right: -300px;
        top: 0;
        bottom: 0;
        width: 300px;
        z-index: 1000;
        transition: all .2s linear;
    }

    .nav-invert .sidebar-nav {
        right: auto;
        left: -300px;
    }

    .sidebar-nav .nav > li a {
        color: rgba(255,255,255,.8);
    }

    .sidebar-nav .nav > li a:hover {
        color: #FFF;
    }

    .open.sidebar-nav {
        right: 0;
        transition: all .2s linear;
    }

    .nav-invert .open.sidebar-nav {
        left: 0;
        transition: all .2s linear;
    }

    .content-tint {
        z-index: -1;
        transition: background .2s linear;
    }

    .content-tint.on {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background: transparent;
        z-index: 1001;
        background: rgba(0,0,0,.4);
    }

    .content-tint.on:hover {
        background: rgba(0,0,0,.1);
    }

    #education h3 {
        font-size: 20px;
    }

    #experience h3 {
        font-size: 20px;
    }

    #work h3 {
        font-size: 20px;
    }

    #work p {
        font-size: 14px;
        line-height: 22px;
    }

    #work-2 p {
        font-size: 14px;
        line-height: 22px;
    }

    #skills h3 {
        font-size: 20px;
    }

    #portfolio h3 {
        font-size: 20px;
    }

    #contact-me h3 {
        font-size: 20px;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .mini-nav .special-dropdown-nav .site-navigation {
        display: block;
        position: absolute;
        top: 80%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .mini-nav .special-dropdown-nav .site-navigation li {
        width: 100%;
    }

    .special-dropdown-nav.collapsing {
        transition: height 0.001s;
    }

    .mini-nav .special-dropdown-nav .site-navigation li a {
        color: rgba(0,0,0,.6)!important;
    }
}

@media (max-width: 767px){
    .resume-section-title {
        font-size: 30px;
        line-height: 40px;
    }

    .resume-skills {
        padding-top: 50px;
        padding-bottom: 15px;
    }

    .sidebar-nav {
        width: 230px;
    }

    .nav-special.sidebar-nav .nav > li {
        width: 80%;
    }

    .nav-invert .sidebar-nav .close-special-menu {
        left: 200px;
    }

    #about h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #about h3 {
        font-size: 18px;
        line-height: 26px;
    }

    #about p {
        font-size: 14px;
        line-height: 22px;
    }

    #education h3 {
        font-size: 18px;
        line-height: 26px;
    }

    #experience h3 {
        font-size: 18px;
        line-height: 26px;
    }

    #work h3 {
        font-size: 18px;
        line-height: 26px;
    }

    #work p {
        font-size: 16px;
        line-height: 23.999998092651367px;
    }

    #work-2 p {
        font-size: 16px;
        line-height: 23.999998092651367px;
    }

    #skills h3 {
        font-size: 18px;
        line-height: 26px;
    }

    #portfolio h3 {
        font-size: 18px;
        line-height: 26px;
    }

    #contact-me h3 {
        font-size: 18px;
        line-height: 26px;
    }
}

/* = screenshots slider
-------------------------------------------------------------- */
.screenshots-slider .bx-wrapper:before,
.screenshots-slider .slick-slider:before {
    content: '';
    display: none;
    position: absolute;
    width: 132%;
    height: 132%;
    background: url("./img/notebook_bg.png") center top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    left: 50%;
    top: 58%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media (min-width:768px){
    .screenshots-slider .bx-wrapper:before,
    .screenshots-slider .slick-slider:before {
        display: inline-block;
    }
}

@media (max-width:1199px){
    .screenshots-slider .bx-wrapper:before,
    .screenshots-slider .slick-slider:before {
        top: 60%;
    }
}

@media (max-width:991px){
    .screenshots-slider .bx-wrapper:before,
    .screenshots-slider .slick-slider:before {
        top: 59%;
    }
}

.screenshots-slider .bx-wrapper .slide,
.screenshots-slider .slick-slider .slide {
    vertical-align: top;
    display: inline-block;
    float: none!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.screenshots-slider .bx-controls-direction {
    display: none;
    color: #424242;
}

@media (min-width:992px){
    .screenshots-slider .bx-controls-direction {
        display: inline-block;
    }
}

.screenshots-slider .bx-controls-direction .bx-prev {
    left: -20%;
}

.screenshots-slider .bx-controls-direction .bx-next {
    right: -20%;
}

.screenshots-slider .bx-controls-direction .bx-next,
.screenshots-slider .bx-controls-direction .bx-prev {
    top: 35%;
}

.screenshots-slider .slick-arrow {
    top: 30%;
    display: none;
    color: #424242;
}

@media (min-width:992px){
    .screenshots-slider .slick-arrow {
        display: inline-block;
    }
}

.screenshots-slider .slick-next {
    right: -20%;
}

.screenshots-slider .slick-prev {
    left: -20%;
}

.screenshots-slider .bx-wrapper .bx-pager {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -40px;
}

@media (min-width:1200px){
    .screenshots-slider .bx-wrapper .bx-pager {
        bottom: -120px;
    }
}

@media (max-width:1199px){
    .screenshots-slider .bx-wrapper .bx-pager {
        bottom: -102px;
    }
}

@media (max-width:991px){
    .screenshots-slider .bx-wrapper .bx-pager {
        bottom: -116px;
    }
}

@media (max-width:767px){
    .screenshots-slider .bx-wrapper .bx-pager {
        bottom: -68px;
    }
}

@media (min-width:768px){
    .screenshots-slider .slick-slider {
        padding-bottom: 6rem!important;
    }
}

.screenshots-slider .slick-slider .slick-dots {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -40px;
}

@media (min-width:1200px){
    .screenshots-slider .slick-slider .slick-dots {
        bottom: -40px!important;
    }
}

@media (min-width:992px){
    .screenshots-slider .slick-slider .slick-dots {
        bottom: -20px;
    }
}

@media (max-width:991px){
    .screenshots-slider .slick-slider .slick-dots {
        bottom: 0;
    }
}

@media (max-width:767px){
    .screenshots-slider .slick-slider .slick-dots {
        bottom: -68px;
    }
}